# Local config
# Override the values from the default_config.py file here.

DEBUG = True            # Use 'None' or exclude this to use debug mode only when run through the development server

HOST = 'localhost'      # Use 'localhost' for local testing only and '0.0.0.0' to allow remote connections also
PORT = 80               # Port 80 allows you to visit http://localhost with no specified port; Flask uses 5000

SECRET_KEY = None       # Generate a random string to use here or use a placeholder such as 'DEVELOPMENT-KEY'

DOMAIN = 'example.com'  # Add your website domain when uploaded to production; otherwise, use None for development

ANALYTICS_SCRIPT = ''   # Put your analytics JavaScript code here
