"""\
Local Config

Override the values from the default_config.py file here.
This file is intended to be completely environment-specific.

Since this file will be different on each machine, you cannot keep separate
copies of all your settings here. For maintainability, you may instead want to
separate your settings into their own files and put them all in this directory.

See 'dev_config.py.example' or 'server_config.py.example' for examples.
See 'default_config.py' for a complete list of overridable settings.
"""
