@charset "utf-8";

body {
    font: 12px/20px Arial, Georgia, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 2em;
    color: #222;
}

a {
    color: #38f;
}
a:hover {
    color: #f53;
}

strong {
    font-weight: bold;
}

input {
    padding: 2px;
}

#wrap {
    margin: 0 auto 0 auto;
}

.page {
    background-color: white;
    color: #333;
    margin: 0 auto;
}

.clear {
    clear: both;
}

#submit {
    margin-left: 4px;
    padding: 2px 8px;
    /* IE fix */
    overflow: visible;
}

#footer {
    background-color: #eee;
    margin: 0;
}
.footer {
    border-top: 2px solid #ddd;
    padding-top: 8px;
    color: #777;
    font-size: 12px;
    text-shadow: #fff 1px 1px 0px;
}
.footer a {
    color: #888;
}
.footer a:hover {
    color: #aaa;
}


/* Sticky footer */
#main {
    padding-bottom: 58px;
}
#footer {
    margin-top: -58px;
    height: 58px;
}


/* Error pages */
.error-content {
    margin-top: 2em;
}
.error-content h1 {
    font-size: 3em;
    font-family: Arial;
    font-weight: bold;
}
.error-content h1 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
}
.error-content h1 a:hover {
    color: #c33;
}

.error-section {
    background: #ea9;
    margin-top: 3em;
    color: #833;
}
.error-section h1 {
    color: #522;
    font-size: 1.8em;
    font-family: Arial;
    font-weight: bold;
    margin: 0 0 1em 0;
}
.error-section a {
    color: #d33;
}
.error-container {
    background: #ffc0b0;
    margin: 0 auto;
    padding: 36px;
    width: 500px;
    border: 1px solid #e98;
    -moz-box-shadow: 0 0 24px 2px #c65;
    -webkit-box-shadow: 0 0 24px 2px #c65;
    box-shadow: 0 0 24px 2px #c65;
}


/* Main page */
.main-content {
    margin-top: 6em;
}
.main-content h1 {
    font-size: 3em;
    font-family: Arial;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: .4em;
}
.main-content h1 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
}
.main-content h1 a:hover {
    color: #c33;
}

header p a {
    color: #333;
    text-decoration: none;
}
header p a:hover {
    color: #c33;
    text-decoration: underline;
}

.main-search {
    margin-top: 2em;
}
.main-search h2 {
    display: none;
    visibility: hidden;
}

.main-search-form {
    margin: 0 auto;
    width: 860px;
}

.examples h2 {
    margin-top: 2em;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}


/* Results page */
.results-content {
    margin-top: 1.5em;
}
.results-content h1 {
    float: left;
    font-size: 2em;
    font-family: Arial;
    font-weight: bold;
}
.results-content h1 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
}
.results-content h1 a:hover {
    color: #c33;
}
.results-header h1 {
    width: 116px;
    margin-top: 1px;
}
.results-header form {
    float: left;
    width: 880px;
    margin-left: 4px;
}
.results-header #q {
    width: 780px;
}
.results-header #submit {
    width: 74px;
}
.results-header {
    clear: both;
    margin: 0 auto 0 auto;
    width: 1000px;
}

.song, .no-matches {
    margin: 3.5em 0;
}
.song h2, .no-matches h2 {
    color: black;
    font-size: 2.5em;
    font-family: Arial;
    font-weight: bold;
    margin-top: 1em
}
.song p, .song pre {
    margin-top: 2em;
}
.no-matches h2 {
    margin-bottom: 1em;
}
.no-matches p {
    margin-top: 1em;
}

.song-source {
    color: #555;
    border-top: 1px dashed #ccc;
    background-color: #f8f8f8;
    text-shadow: #fff 1px 1px 0px;
    padding-bottom: 3em;
}
.song-source h2 {
    margin-top: .5em;
    font-size: 2em;
}
.song-source pre {
    margin-top: 2em;
}
