@charset "utf-8";

body {
    font: 12px/20px Arial, Georgia, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
}

h1 {
    font-size: 2em;
    color: #222;
}

strong {
    font-weight: bold;
}

.page {
    background-color: white;
    color: #333;
    margin: 0 auto;
}

.clear {
    clear: both;
}

#footer {
    background-color: #eee;
}
.footer {
    border-top: 2px solid #ddd;
    padding-top: 8px;
    color: #888;
    font-size: 12px;
    text-shadow: #fff 1px 1px 0px;
}
.footer a {
    color: #888;
}


/* Sticky footer */
#main {
    padding-bottom: 64px;
}
#footer {
    margin-top: -64px;
    height: 64px;
}


/* Main page */
.content {
    margin-top: 4em;
}
.content h1 {
    font-size: 3em;
    font-family: Arial;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: .4em;
}
.content h1 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.search {
    margin-top: 2em;
}
.search h2 {
    display: none;
    visibility: hidden;
}

.search-form {
    margin: 0 auto;
    width: 860px;
}
input {
    padding: 2px;
}
#submit {
    margin-left: 4px;
    padding: 2px 8px;
}

.examples h2 {
    margin-top: 2em;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}
.examples a {
    color: #38f;
}


/* Search results page */
.results-content {
    margin-top: 1em;
}
.results-content h1 {
    float: left;
    font-size: 2em;
    font-family: Arial;
    font-weight: bold;
}
.results-content h1 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.results-content .search-header h1 {
    width: 116px;
    margin-top: 1px;
}
.results-content .search-header .search-form {
    float: left;
    width: 880px;
    margin-left: 4px;
}
.results-content .search-header #q {
    width: 780px;
}
.results-content .search-header #submit {
    width: 74px;
}
.results-content .search-header {
    clear: both;
    margin: 0 auto 0 auto;
    width: 1000px;
}


/* Error pages */
.error-content {
    margin-top: 2em;
}
.error-content h1 {
    font-size: 3em;
    font-family: Arial;
    font-weight: bold;
}
.error-content h1 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.error-section {
    background: #ea9;
    margin-top: 3em;
    color: #833;
}
.error-section h1 {
    color: #522;
    font-size: 1.8em;
    font-family: Arial;
    font-weight: bold;
    margin: 0 0 1em 0;
}
.error-section a {
    color: #d33;
}
.error-container {
    background: #ffc0b0;
    margin: 0 auto;
    padding: 36px;
    width: 500px;
    border: 1px solid #e98;
    -moz-box-shadow: 0 0 24px 2px #c65;
    -webkit-box-shadow: 0 0 24px 2px #c65;
    box-shadow: 0 0 24px 2px #c65;
}
