<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Tabhouse - Your place for quality guitar tabs{% endblock %}</title>
    <link rel="shortcut icon" href="{{ static_for('favicon.ico') }}">
    <link rel="stylesheet" href="{{ static_for('reset.css') }}" />
    <link rel="stylesheet" href="{{ static_for('sticky-footer.css') }}" />
    <link rel="stylesheet" href="{{ static_for('style.css') }}" />
    {% block additional_styles %}{% endblock %}
    <!--[if !IE 7]><style>#wrap {display:table;height:100%}</style><![endif]-->
    <!--[if lt IE 9]><script src="{{ static_for('html5.js') }}"></script><![endif]-->
    {% block priority_scripts %}{% endblock %}
    {% include 'analytics.html' %}
</head>
<body>
    <div id="wrap">
        <div id="main" class="page">
            {% for message in get_flashed_messages() %}
            <div class="flashed-messages">
                <p class="flashed-message">{{ message }}</p>
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer id="footer">
        <div class="footer">
            {% block footer %}
            <p>All tabs are aggregated from the web and belong to their respectful artists. Please support them.</p>
            <p>Powered by <a href="http://www.python.org/" target="_blank">Python</a>, <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, <a href="http://www.heroku.com/" target="_blank">Heroku</a> | <a href="http://github.com/joeyespo/tabhouse.org" target="_blank">Source Code</a> | Tabhouse &copy; Copyright 2011-{{ g.now.year }} by <a href="http://joeyespo.com/" target="_blank">Joe Esposito</a></p>
            {% endblock %}
        </div>
    </footer>
    {% block additional_scripts %}{% endblock %}
</body>
</html>
