{% extends "base.html" %}

{% block content %}
<article>
    <div class="main-content">
        <header>
            <h1><img src="{{ static_for('tabhouse.png') }}" width="109" height="90" /><a href="/">Tabhouse</a></h1>
            <p>Welcome! Enter an <strong>artist</strong> and <strong>song name</strong> and we'll find you the <a href="http://wikipedia.org/wiki/Tablature" target="_blank">guitar tab</a>.</p>
        </header>
        
        <section class="main-search">
            <h2>Search Query</h2>
            <form action="{{ url_for('.search') }}">
                <div class="main-search-form">
                    <input type="text" id="q" name="q" size="120" autofocus="autofocus" />
                    <input type="submit" id="submit" value="Find tabs" />
                </div>
            </form>
        </section>
        
        <section class="examples">
            <h2>Examples</h2>
            <ul>
                <li> <a title="Will find the top artist by this song" href="{{ url_for('.search', q='Nothing Else Matters') }}">Nothing Else Matters</a> </li>
                <li> <a title="Will find the best song in the world! Tribute." href="{{ url_for('.search', q='Tenacious D Tribute') }}">Tenacious D Tribute</a> </li>
                <li> <a title="Will find the top song by this artist" href="{{ url_for('.search', q='Three Doors Down') }}">Three Doors Down</a> </li>
            </ul>
        </section>
    </div>
</article>
{% endblock %}
