{% extends "base.html" %}

{% block title %}{{ query }}{% endblock %}

{% block content %}
<article>
    <div class="results-content">
        <header>
            <div class="results-header">
                <h1><a href="/">Tabhouse</a></h1>
                <div>
                    <form action="{{ url_for('.search') }}">
                        <input type="text" id="q" name="q" size="120" autofocus="autofocus" />
                        <input type="submit" id="submit" name="submit" value="Find tabs" />
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        
        {% if not song_url %}
        
        <section class="no-matches">
            <h2>Sorry, no matches</h2>
            
            <p>We're working hard to improve your searches.</p>
            <p>In the meantime, try a more <a href="http://www.google.com/search?{{ raw_query }}">traditional search</a>.</p>
        </section>
        
        {% else %}
        
        <section class="song">
            <h2>{{ query }}</h2>
            <p>Source: <a href="{{ song_url }}">{{ song_url }}</a></p>
            
<pre>
{{ song_text }}
</pre>
        </section>
        
        {% if song_source %}
        <section class="song-source">
            <h2>Source</h2>
            
<pre>
{{ song_source }}
</pre>
        </section>
        {% endif %}
        
        {% endif %}
    
    </div>
</article>
{% endblock %}
