{% extends "base.html" %}

{% block title %}{{ query }}{% endblock %}

{% block additional_scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>
    $(function() {
        $.getJSON("/search.json",
        {
            q: "{{ raw_query }}",
        }).success(function(data) {
            $('#searching').hide();
            
            if(data.song_url) {
                $('#song-url').attr('href', data.song_url).text(data.song_url);
                $('#song-text').text(data.song_text);
                $('#song-text-result').show();
                if (data.song_source) {
                    $('#song-source').text(data.song_source);
                    $('#song-source-result').show();
                }
            }
            else {
                $('#no-matches').show();
            }
        }).error(function() {
            $('#searching').hide();
            $('#search-error').show();
        });
    });
</script>
{% endblock %}

{% block content %}
<article>
    <div class="results-content">
        <header>
            <div class="results-header">
                <h1><a href="/">Tabhouse</a></h1>
                <div>
                    <form action="{{ url_for('.search') }}">
                        <input type="text" id="q" name="q" size="120" autofocus="autofocus" />
                        <input type="submit" id="submit" name="submit" value="Find tabs" />
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        
        <section>
            <div id="searching">
                <p>Processing tabs <img src="{{ static_for('spinner.gif') }}" alt="Please wait..." width="16" height="16" /></p>
            </div>
            
            <div id="search-error">
                <h2>Error</h2>
                <p>Something went wrong! Don't worry, the error was logged so we'll look into this shortly.</p>
                <p>In the meantime, try a more <a href="http://www.google.com/search?{{ encoded_query }}">traditional search</a>.</p>
            </div>
            
            <div id="no-matches">
                <h2>Sorry, no matches</h2>
                <p>We're working hard to improve your searches.</p>
                <p>In the meantime, try a more <a href="http://www.google.com/search?{{ encoded_query }}">traditional search</a>.</p>
            </div>
            
            <div id="song-text-result">
                <h2>{{ query }}</h2>
                <p><span>Source: </span><a id="song-url" href="#"></a></p>
<pre id="song-text">
</pre>
            </div>
            
            <div id="song-source-result">
                <h2>Source</h2>
<pre id="song-source">
</pre>
            </div>
        </section>
    </div>
</article>
{% endblock %}
