{% extends "base.html" %}

{% block title %}{{ query }}{% endblock %}

{% block content %}
<article>
    <div class="results-content">
        <header>
            <div class="results-header">
                <h1><a href="/">Tabhouse</a></h1>
                <div>
                    <form action="{{ url_for('.search') }}">
                        <input type="text" id="q" name="q" size="120" autofocus="autofocus" />
                        <input type="submit" id="submit" name="submit" value="Find tabs" />
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        
        <section class="song">
            <h2>{{ query }}</h2>
            
            {% if song_url %}
            <p>Source: <a href="{{ song_url }}" target="_blank">{{ song_url }}</a></p>
            {% endif %}
            
<pre>
{{ song_text }}
</pre>
        </section>
        
        {% if song_source %}
        <section class="song-source">
            <h2>Source</h2>
            
<pre>
{{ song_source }}
</pre>
        </section>
        {% endif %}
    
    </div>
</article>
{% endblock %}
